<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>codbex-harmonia Example</title>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/dist/codbex-harmonia.umd.js"></script>
  <link rel="stylesheet" href="/dist/style.css" />
</head>

<body style="margin: 2em;">

  <div id="app" class="container">
    <h1>PIN Input</h1>
    
    <div style="width: 250px; margin: 2em;">
      <h-pin-input id="pin-input" v-model="value" placeholder="○" @complete="handleComplete">
        <h-pin-input-group>
          <h-pin-input-input v-for="(id, index) in 5" :key="id" :index="index" />
        </h-pin-input-group>
      </h-pin-input>
    </div>

  </div>

  <br /><br /><textarea readonly rows="5" style="background:#fafafa; border:none; resize:none; outline:none; width:100%;">
    <h-pin-input id="pin-input" v-model="value" placeholder="○" @complete="handleComplete">
      <h-pin-input-group>
        <h-pin-input-input v-for="(id, index) in 5" :key="id" :index="index" />
      </h-pin-input-group>
    </h-pin-input>
  </textarea>

  <br /><br /><button onclick="history.back()">&lt; Go Back</button>

  <!-- Import JavaScript file as ES6 module -->
  <script type="module" src="app.js"></script>

</body>

</html>