@import 'tailwindcss';
@import 'nouislider/dist/nouislider.min.css';
@import './slider.css';
/* @import 'vanilla-calendar-pro/styles/index.css'; */
@source '../**/*.{ts,tsx,js,jsx}';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6231 0.188 259.8145);
    --primary-foreground: oklch(1 0 0);
    --primary-hover: oklch(0.664 0.1651 259.83);
    --primary-active: oklch(0.5768 0.1721 259.73);
    --secondary: oklch(0.9308 0.0029 264.54);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --secondary-hover: oklch(0.9516 0.0017 247.84);
    --secondary-active: oklch(0.8943 0.0029 264.54);
    --muted: oklch(0.9516 0.0017 247.84);
    --muted-foreground: oklch(0.556 0 0);

    --border: oklch(0.9276 0.0058 264.5313);
    --input-border: oklch(0.9276 0.0058 264.5313);
    --input-background: transparent;
    --ring: oklch(0.6231 0.188 259.8145);

    --negative: oklch(0.6268 0.2133 19.36);
    --negative-foreground: oklch(1 0 0);
    --negative-hover: oklch(0.6568 0.1921 16.84);
    --negative-active: oklch(0.5711 0.1931 19.34);
    --positive: oklch(0.6509 0.1491 158.94);
    --positive-foreground: oklch(1 0 0);
    --positive-hover: oklch(0.6843 0.1413 162.42);
    --positive-active: oklch(0.6025 0.1376 159.06);
    --warning: oklch(0.6962 0.1955 32.32);
    --warning-foreground: oklch(1 0 0);
    --warning-hover: oklch(0.724 0.1723 32.05);
    --warning-active: oklch(0.6447 0.1802 32.22);
    --information: oklch(0.652 0.1901 253.21);
    --information-foreground: oklch(1 0 0);
    --information-hover: oklch(0.6857 0.1709 251.52);
    --information-active: oklch(0.6047 0.1749 253.06);

    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6231 0.188 259.8145);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-secondary: oklch(0.9514 0.025 236.8242);
    --sidebar-secondary-foreground: oklch(0.3791 0.1378 265.5222);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);

    --font-sans: Open Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Merriweather, ui-serif, serif;
    --font-mono: Fragment Mono, ui-monospace, monospace;
    --tracking-normal: -0.025em;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --shadow-control: var(--shadow-xs);
    --shadow-alert: 0 4px 12px rgba(0, 0, 0, 0.1);

    --radius-control: 0.375rem;
    --radius: 0.375rem;

    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6231 0.188 259.8145);
    --primary-foreground: oklch(1 0 0);
    --primary-hover: oklch(0.664 0.1651 259.83);
    --primary-active: oklch(0.5768 0.1721 259.73);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --secondary-hover: oklch(0.3132 0 0);
    --secondary-active: oklch(0.2603 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --border: oklch(0.3715 0 0);
    --input-border: oklch(0.3715 0 0);
    --input-background: transparent;
    --ring: oklch(0.6231 0.188 259.8145);

    --negative: oklch(0.6268 0.2133 19.36);
    --negative-foreground: oklch(1 0 0);
    --negative-hover: oklch(0.6568 0.1921 16.84);
    --negative-active: oklch(0.5711 0.1931 19.34);
    --positive: oklch(0.6509 0.1491 158.94);
    --positive-foreground: oklch(1 0 0);
    --positive-hover: oklch(0.6843 0.1413 162.42);
    --positive-active: oklch(0.6025 0.1376 159.06);
    --warning: oklch(0.6962 0.1955 32.32);
    --warning-foreground: oklch(1 0 0);
    --warning-hover: oklch(0.724 0.1723 32.05);
    --warning-active: oklch(0.6447 0.1802 32.22);
    --information: oklch(0.652 0.1901 253.21);
    --information-foreground: oklch(1 0 0);
    --information-hover: oklch(0.6857 0.1709 251.52);
    --information-active: oklch(0.6047 0.1749 253.06);

    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(0.6231 0.188 259.8145);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-secondary: oklch(0.3791 0.1378 265.5222);
    --sidebar-secondary-foreground: oklch(0.8823 0.0571 254.1284);
    --sidebar-border: oklch(0.3715 0 0);

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --shadow-control: var(--shadow-xs);
    --shadow-alert: 0 4px 12px rgba(0, 0, 0, 0.1);

    --radius-control: 0.375rem;
    --radius: 0.375rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
    --color-primary-active: var(--primary-active);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary-hover: var(--secondary-hover);
    --color-secondary-active: var(--secondary-active);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-border: var(--border);
    --color-ring: var(--ring);
    --color-input: var(--input-border);
    --color-input-inner: var(--input-background);

    --color-negative: var(--negative);
    --color-negative-foreground: var(--negative-foreground);
    --color-negative-hover: var(--negative-hover);
    --color-negative-active: var(--negative-active);
    --color-positive: var(--positive);
    --color-positive-foreground: var(--positive-foreground);
    --color-positive-hover: var(--positive-hover);
    --color-positive-active: var(--positive-active);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-warning-hover: var(--warning-hover);
    --color-warning-active: var(--warning-active);
    --color-information: var(--information);
    --color-information-foreground: var(--information-foreground);
    --color-information-hover: var(--information-hover);
    --color-information-active: var(--information-active);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-secondary: var(--sidebar-secondary);
    --color-sidebar-secondary-foreground: var(--sidebar-secondary-foreground);
    --color-sidebar-border: var(--sidebar-border);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --shadow-control: var(--shadow-control);
    --shadow-alert: var(--shadow-alert);

    --radius-control: var(--radius-control);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
}

* {
    scrollbar-color: var(--color-foreground) transparent;
}

@supports selector(::-webkit-scrollbar) {
    * {
        scrollbar-width: thin;
    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--color-foreground);
        border-radius: 0.313rem;
        border: 0.313rem;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type='number'] {
        -moz-appearance: textfield !important;
        appearance: textfield;
    }
    .lucide-icon {
        width: 24px;
        height: 24px;
        stroke: currentColor;
        fill: none;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}
