<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>codbex-harmonia Example</title>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/dist/codbex-harmonia.umd.js"></script>
  <link rel="stylesheet" href="/dist/style.css" />
</head>

<body style="margin: 2em;">

  <div id="app" class="container">
    <h1>Carousel</h1>
    
    <div style="width: 250px; margin: 2em;">
      <h-carousel class="relative w-full max-w-sm" :opts="{ align: 'start' }">
        <h-carousel-content>
          <h-carousel-item v-for="(_, index) in 5" :key="index" class="md:basis-1/2 lg:basis-1/3">
            <div class="p-1">
              <h-card>
                <h-card-content class="flex aspect-square items-center justify-center p-6">
                  <span class="text-3xl font-semibold">{{ index + 1 }}</span>
                </h-card-content>
              </h-card>
            </div>
          </h-carousel-item>
        </h-carousel-content>
        <h-carousel-previous></h-carousel-previous>
        <h-carousel-next></h-carousel-next>
      </h-carousel>
    </div>

  </div>

  <br /><br /><textarea readonly rows="17" style="background:#fafafa; border:none; resize:none; outline:none; width:100%;">
    <div style="width: 250px; margin: 2em;">
      <h-carousel class="relative w-full max-w-sm" :opts="{ align: 'start' }">
        <h-carousel-content>
          <h-carousel-item v-for="(_, index) in 5" :key="index" class="md:basis-1/2 lg:basis-1/3">
            <div class="p-1">
              <h-card>
                <h-card-content class="flex aspect-square items-center justify-center p-6">
                  <span class="text-3xl font-semibold">{{ index + 1 }}</span>
                </h-card-content>
              </h-card>
            </div>
          </h-carousel-item>
        </h-carousel-content>
        <h-carousel-previous></h-carousel-previous>
        <h-carousel-next></h-carousel-next>
      </h-carousel>
    </div>
  </textarea>

  <br /><br /><button onclick="history.back()">&lt; Go Back</button>

  <!-- Import JavaScript file as ES6 module -->
  <script type="module" src="app.js"></script>

</body>

</html>