<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>codbex-harmonia Example</title>
        <script src="/node_modules/vue/dist/vue.global.prod.js"></script>
        <script src="/dist/harmonia.umd.js"></script>
        <link rel="stylesheet" href="/dist/harmonia.css" />
    </head>

    <body style="margin: 2em">
        <div id="app" class="container">
            <h1>Scroll Area</h1>

            <div style="width: 250px; margin: 2em">
                <h-scroll-area class="h-72 w-48 rounded-md border">
                    <div class="p-4">
                        <h4 class="mb-4 text-sm font-medium leading-none">Tags</h4>
                        <div v-for="tag in tags" :key="tag">
                            <div class="text-sm">{{ tag }}</div>
                            <h-separator class="my-2"></h-separator>
                        </div>
                    </div>
                </h-scroll-area>
            </div>
        </div>

        <br /><br /><textarea
            readonly
            rows="11"
            style="background: #fafafa; border: none; resize: none; outline: none; width: 100%"
        >
    <h-scroll-area class="h-72 w-48 rounded-md border">
      <div class="p-4">
        <h4 class="mb-4 text-sm font-medium leading-none">Tags</h4>
        <div v-for="tag in tags" :key="tag">
          <div class="text-sm">
            {{ tag }}
          </div>
          <h-separator class="my-2"></h-separator>
        </div>
      </div>
    </h-scroll-area>
  </textarea
        >

        <br /><br /><button onclick="history.back()">&lt; Go Back</button>

        <!-- Import JavaScript file as ES6 module -->
        <script type="module" src="app.js"></script>
    </body>
</html>
