<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Harmonia</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <script src="/node_modules/vue/dist/vue.global.prod.js"></script>
        <script src="/dist/harmonia.umd.js"></script>
        <link rel="stylesheet" href="/dist/harmonia.css" />
    </head>
    <body>
        <div id="app" class="flex flex-col h-full overflow-auto gap-2 p-4">
            <h-breadcrumb>
                <h-breadcrumb-list>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link href="/">Home</h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-dropdown-menu>
                            <h-dropdown-menu-trigger class="flex items-center gap-1">
                                <h-breadcrumb-ellipsis class="h-4 w-4"></h-breadcrumb-ellipsis>
                                <span class="sr-only">Toggle menu</span>
                            </h-dropdown-menu-trigger>
                            <h-dropdown-menu-content align="start">
                                <h-dropdown-menu-item>Documentation</h-dropdown-menu-item>
                                <h-dropdown-menu-item>Themes</h-dropdown-menu-item>
                                <h-dropdown-menu-item>GitHub</h-dropdown-menu-item>
                            </h-dropdown-menu-content>
                        </h-dropdown-menu>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link href="#">Components</h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-page>Breadcrumb</h-breadcrumb-page>
                    </h-breadcrumb-item>
                </h-breadcrumb-list>
            </h-breadcrumb>

            <h-breadcrumb>
                <h-breadcrumb-list>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link href="/">Home</h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator>
                        <i-slash></i-slash>
                    </h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-dropdown-menu>
                            <h-dropdown-menu-trigger class="flex items-center gap-1">
                                Components
                                <i-chevron-down class="h-4 w-4"></i-chevron-down>
                            </h-dropdown-menu-trigger>
                            <h-dropdown-menu-content align="start">
                                <h-dropdown-menu-item>Documentation</h-dropdown-menu-item>
                                <h-dropdown-menu-item>Themes</h-dropdown-menu-item>
                                <h-dropdown-menu-item>GitHub</h-dropdown-menu-item>
                            </h-dropdown-menu-content>
                        </h-dropdown-menu>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator>
                        <i-slash></i-slash>
                    </h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-page>Breadcrumb</h-breadcrumb-page>
                    </h-breadcrumb-item>
                </h-breadcrumb-list>
            </h-breadcrumb>

            <h-breadcrumb>
                <h-breadcrumb-list>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link as-child>
                            <a href="/">Home</a>
                        </h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-ellipsis></h-breadcrumb-ellipsis>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link as-child>
                            <a href="#">Components</a>
                        </h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-page>Breadcrumb</h-breadcrumb-page>
                    </h-breadcrumb-item>
                </h-breadcrumb-list>
            </h-breadcrumb>

            <h-breadcrumb>
                <h-breadcrumb-list>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link>
                            <a href="/">Home</a>
                        </h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link>
                            <a href="#">Components</a>
                        </h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-page>Breadcrumb</h-breadcrumb-page>
                    </h-breadcrumb-item>
                </h-breadcrumb-list>
            </h-breadcrumb>

            <h-breadcrumb>
                <h-breadcrumb-list>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link href="{items[0].href}">{{ firstLabel }} </h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator></h-breadcrumb-separator>
                    <h-breadcrumb-item v-if="items.length >itemsToDisplay">
                        <h-dropdown-menu v-if="isDesktop" v-model:open="isOpen">
                            <h-dropdown-menu-trigger class="flex items-center gap-1" aria-label="Toggle menu">
                                <h-breadcrumb-ellipsis class="h-4 w-4"></h-breadcrumb-ellipsis>
                            </h-dropdown-menu-trigger>
                            <h-dropdown-menu-content align="start">
                                <h-dropdown-menu-item v-for="item of allButLastTwoItems" :key="item.label">
                                    <a :href="item.href || '#'">{{ item.label }} </a>
                                </h-dropdown-menu-item>
                            </h-dropdown-menu-content>
                        </h-dropdown-menu>
                        <h-drawer v-else v-model:open="isOpen">
                            <h-drawer-trigger aria-label="Toggle Menu">
                                <h-breadcrumb-ellipsis class="h-4 w-4"></h-breadcrumb-ellipsis>
                            </h-drawer-trigger>
                            <h-drawer-content>
                                <h-drawer-header class="text-left">
                                    <h-drawer-title>Navigate to</h-drawer-title>
                                    <h-drawer-description>Select a page to navigate to. </h-drawer-description>
                                </h-drawer-header>
                                <div class="grid gap-1 px-4">
                                    <a
                                        v-for="item of allButLastTwoItems"
                                        :key="item.label"
                                        :href="item.href"
                                        class="py-1 text-sm"
                                    >
                                        {{ item.label }}
                                    </a>
                                </div>
                                <h-drawer-footer class="pt-4">
                                    <h-drawer-close as-child>
                                        <h-button variant="outline">Close </h-button>
                                    </h-drawer-close>
                                </h-drawer-footer>
                            </h-drawer-content>
                        </h-drawer>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator v-if="items.length >itemsToDisplay"></h-breadcrumb-separator>
                    <h-breadcrumb-item v-for="item of remainingItems" :key="item.label">
                        <h-breadcrumb-link v-if="item.href" as-child class="max-w-20 truncate md:max-w-none">
                            <a :href="item.href">{{ item.label }} </a>
                        </h-breadcrumb-link>
                        <h-breadcrumb-separator v-if="item.href"></h-breadcrumb-separator>
                        <h-breadcrumb-page v-else class="max-w-20 truncate md:max-w-none">
                            {{ item.label }}
                        </h-breadcrumb-page>
                    </h-breadcrumb-item>
                </h-breadcrumb-list>
            </h-breadcrumb>

            <h-breadcrumb>
                <h-breadcrumb-list>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link href="/">Home</h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator>
                        <i-slash></i-slash>
                    </h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-link href="#">Components</h-breadcrumb-link>
                    </h-breadcrumb-item>
                    <h-breadcrumb-separator>
                        <i-slash></i-slash>
                    </h-breadcrumb-separator>
                    <h-breadcrumb-item>
                        <h-breadcrumb-page>Breadcrumb</h-breadcrumb-page>
                    </h-breadcrumb-item>
                </h-breadcrumb-list>
            </h-breadcrumb>
        </div>
        <script type="module">
            import { useMediaQuery } from '@vueuse/core'
            import { Slash, ChevronDown } from 'lucide-vue-next'
            const items = [
                { href: '#', label: 'Home' },
                { href: '#', label: 'Documentation' },
                { href: '#', label: 'Building Your Application' },
                { href: '#', label: 'Data Fetching' },
                { label: 'Caching and Revalidating' },
            ]
            const itemsToDisplay = 3
            const app = Vue.createApp({
                data() {
                    return {
                        isDesktop: useMediaQuery('(min-width: 768px)'),
                        isOpen: Vue.ref(false),
                        items: Vue.ref(items),
                        itemsToDisplay: itemsToDisplay,
                        firstLabel: Vue.computed(() => items[0]?.label),
                        allButLastTwoItems: Vue.computed(() => items.slice(1, -2)),
                        remainingItems: Vue.computed(() => items.slice(-Math.min(itemsToDisplay, items.length) + 1)),
                    }
                },
            })
            app.use(Harmonia)
            app.component('ISlash', Slash)
            app.component('IChevronDown', ChevronDown)
            app.mount('#app')
        </script>
    </body>
</html>
