<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Harmonia</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <script src="/node_modules/vue/dist/vue.global.prod.js"></script>
        <script src="/dist/harmonia.umd.js"></script>
        <link rel="stylesheet" href="/dist/harmonia.css" />
    </head>
    <body>
        <div id="app" class="flex flex-col h-full overflow-auto items-start gap-2 p-4">
            <h-calendar v-model="value" :weekday-format="'short'" class="rounded-md border"></h-calendar>

            <div class="font-semibold text-sm border-b-2 w-full px-2 pb-1.5 pt-4 first:pt-0">In Form</div>

            <form class="space-y-8" @submit="onSubmit">
                <h-form-field name="dob">
                    <h-form-item class="flex flex-col">
                        <h-form-label>Date of birth</h-form-label>
                        <h-popover>
                            <h-popover-trigger as-child>
                                <h-form-control>
                                    <h-button
                                        variant="outline"
                                        class="w-[240px] ps-3 text-start font-normal"
                                        :class="value ? '' :  'text-muted-foreground'"
                                    >
                                        <span>{{ value ? df.format(toDate(value)) : "Pick a date" }}</span>
                                        <i-calendar class="ms-auto h-4 w-4 opacity-50"></i-calendar>
                                    </h-button>
                                    <input hidden />
                                </h-form-control>
                            </h-popover-trigger>
                            <h-popover-content class="w-auto p-0">
                                <h-calendar
                                    v-model:placeholder="placeholder"
                                    v-model="value"
                                    calendar-label="Date of birth"
                                    initial-focus
                                    :min-value="minVal"
                                    :max-value="maxVal"
                                    @update:model-value="(v) => updateValue(v)"
                                ></h-calendar>
                            </h-popover-content>
                        </h-popover>
                        <h-form-description>Your date of birth is used to calculate your age.</h-form-description>
                        <h-form-message></h-form-message>
                    </h-form-item>
                </h-form-field>
                <h-button type="submit">Submit</h-button>
            </form>

            <div class="font-semibold text-sm border-b-2 w-full px-2 pb-1.5 pt-4 first:pt-0">With dropdowns</div>

            <h-calendar-select
                v-model="selectValue"
                @update:model-value="(v) => updateSelectValue(v)"
            ></h-calendar-select>
        </div>
        <script type="module">
            import { CalendarDate, DateFormatter, getLocalTimeZone, parseDate, today } from '@internationalized/date'
            import { Calendar } from 'lucide-vue-next'
            import { toTypedSchema } from '@vee-validate/zod'
            import { useForm } from 'vee-validate'
            import { z } from 'zod'
            import { CalendarRoot } from 'radix-vue'

            const formSchema = toTypedSchema(
                z.object({
                    dob: z.string().refine((v) => v, { message: 'A date of birth is required.' }),
                }),
            )
            const form = useForm({
                validationSchema: formSchema,
            })
            const value = Vue.computed({
                get: () => (form.values.dob ? parseDate(form.values.dob) : undefined),
                set: (val) => val,
            })
            const selectForm = useForm({
                validationSchema: formSchema,
            })
            const selectValue = Vue.computed({
                get: () => (selectForm.values.dob ? parseDate(selectForm.values.dob) : undefined),
                set: (val) => val,
            })
            const app = Vue.createApp({
                data() {
                    return {
                        minVal: new CalendarDate(1900, 1, 1),
                        maxVal: today(getLocalTimeZone()),
                        df: new DateFormatter('en-US', {
                            dateStyle: 'long',
                        }),
                        placeholder: Vue.ref(),
                        value: Vue.ref(value),
                    }
                },
                methods: {
                    onSubmit(values) {
                        form.handleSubmit((values) => {
                            Harmonia.toast({
                                title: 'You submitted the following values:',
                                description: Vue.h(
                                    'pre',
                                    { class: 'mt-2 w-[340px] rounded-md bg-slate-950 p-4' },
                                    Vue.h('code', { class: 'text-white' }, JSON.stringify(values, null, 2)),
                                ),
                            })
                        })
                    },
                    updateValue(v) {
                        if (v) {
                            form.setFieldValue('dob', v.toString())
                        } else {
                            form.setFieldValue('dob', undefined)
                        }
                    },
                    updateSelectValue(v) {
                        if (v) {
                            selectForm.setFieldValue('dob', v.toString())
                        } else {
                            selectForm.setFieldValue('dob', undefined)
                        }
                    },
                },
            })
            app.use(Harmonia)
            app.component('ICalendar', Calendar)
            app.component(CalendarRoot)
            app.mount('#app')
        </script>
    </body>
</html>
