<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>codbex-harmonia Example</title>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="/dist/codbex-harmonia.umd.js"></script>
  <link rel="stylesheet" href="/dist/style.css" />
</head>

<body style="margin: 2em;">

  <div id="app" class="container">
    <h1>Select</h1>
    
    <div style="width: 250px; margin: 2em;">
      <h-select v-model="selected">
        <h-select-trigger>
          <h-select-value placeholder="Select a fruit"></h-select-value>
        </h-select-trigger>
        <h-select-content>
          <h-select-group>
            <h-select-label>Fruits</h-select-label>
            <h-select-item v-for="option in options" :value="option.id">
              {{option.value}}
            </h-select-item>
          </h-select-group>
        </h-select-content>
      </h-select>
    </div>

    <div>
      <pre>{{ selected }}</pre>
    </div>

  </div>

  <br /><br /><textarea readonly rows="13" style="background:#fafafa; border:none; resize:none; outline:none; width:100%;">
    <h-select v-model="selected">
      <h-select-trigger>
        <h-select-value placeholder="Select a fruit"></h-select-value>
      </h-select-trigger>
      <h-select-content>
        <h-select-group>
          <h-select-label>Fruits</h-select-label>
          <h-select-item v-for="option in options" :value="option.id">
            {{option.value}}
          </h-select-item>
        </h-select-group>
      </h-select-content>
    </h-select>
  </textarea>

  <br /><br /><button onclick="history.back()">&lt; Go Back</button>

  <!-- Import JavaScript file as ES6 module -->
  <script type="module" src="app.js"></script>

</body>

</html>